<%= render 'layouts/shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="text-center">
      <h1>All my cocktails</h1>
    </div>
  </div>

  <div class="row">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://picsum.photos/200/300)">
          <%= link_to cocktail.name, cocktail_path(cocktail) %></li>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <%= link_to 'Ajouter un nouveau Cocktail', new_cocktail_path %>
  </div>

  <%= cl_image_tag("https://res.cloudinary.com/dttrrglqc/image/upload/v1605276762/cpvz4axvp6zs7llvncmo.jpg", width: 400, height: 300, crop: :fill) %>

  <%= cl_image_tag("https://res.cloudinary.com/dttrrglqc/image/upload/v1605276776/zcnjlmpokblv7hwbwxzv.jpg", width: 150, height: 150, crop: :thumb, gravity: :face) %>

</div>