<%= render 'layouts/shared/navbar' %>

<h1>Quels sont les ingrédients et leurs dosages ?</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Enregistrer l'ingrédient", class: "btn btn-primary" %>
<% end %>
